button {
    outline: none;
    background: transparent;
    border: 0;
}

hr {
    width: 100%;
    color: #eee;
}

table {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

h3 {
    font-size: 17px;
    text-align: center;
    color: rgb(47, 132, 87);
}

h2 {
    font-size: 20px;
    text-align: center;
    color: rgb(47, 132, 87);
}

.active {
    color: rgb(47, 132, 87);
}

.head-billetera,
.transacciones {
    display: flex;
    justify-content: space-between;
}

.head-billetera {
    padding: 0px 10px;
}

.transacciones {
    padding: 10px;
}

.left-billetera {
    width: 30%;
}

.right-billetera {
    width: 70%;
    display: flex;
}

.img-lleva {
    width: 60px;
}

.img-billetera {
    position: absolute;
    top: 35px;
    left: 105px;
    width: 100px;
}

.saldo {
    display: flex;
    width: 70%;
    padding: 15px;
    background: #eee;
    line-height: 32.5px;
    position: relative;
}

.saldo label {
    width: 70%;
    display: inline-block;
}

.saldo span {
    float: right;
    font-size: 23px;
}

.recarga img {
    width: 100%;
    height: 100%;
}

.transacciones label {
    font-size: 20px;
    color: rgb(47, 132, 87);
}

.transacciones button {
    float: right;
    color: #aaa;
}

.transacciones button span {
    margin-left: 5px;
}

.table-billetera {
    overflow-y: auto;
}

.table-billetera table {
    min-width: 600px;
}

mat-paginator {
    width: 100%;
    min-width: 600px;
}


/* @media (max-width: 800px) {
    .opciones {
        display: block !important;
    }
    .opc-btn {
        margin-right: 0 !important;
        margin-bottom: 10px !important;
    }
} */

@media (max-width: 700px) {
    .head-billetera {
        display: block !important;
    }
    .right-billetera {
        width: 100% !important;
    }
}

@media (max-width: 500px) {
    .saldo {
        min-height: 32.5px;
    }
    .saldo label {
        position: absolute;
        top: 5px;
    }
    .saldo span {
        position: absolute;
        top: 25px;
    }
    .transacciones label {
        font-size: 14px;
    }
    .transacciones button span {
        display: none;
    }
}