mat-divider {
    position: relative !important;
    width: 90% !important;
    margin: auto;
}

.active {
    color: rgb(47, 132, 87);
}

button.btn:active {
    color: rgb(47, 132, 87);
}

button {
    cursor: pointer;
    background: transparent;
    border: 0;
}

.form-cuenta {
    width: 95%;
    margin: auto;
    display: flex;
    padding: 50px 0;
}

.foto-perfil {
    width: 25%;
}

.form-datos {
    width: 75%;
}

.inputs {
    display: flex;
}

.documento {
    width: 52%;
}

.inputs mat-form-field {
    width: 50%;
    margin: 0 5px;
}

.inputs button {
    width: 50%;
}

.inputs button img {
    width: 100%;
}

@media (max-width: 950px) {
    .form-cuenta {
        display: block;
        text-align: center;
    }
    .foto-perfil {
        width: 100%;
    }
    .form-datos {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .inputs {
        display: block;
    }
    .inputs mat-form-field {
        width: 100% !important;
        margin: 0 5px;
    }
}

@media (max-width: 550px) {
    .inputs button {
        width: 100%;
    }
}