<mat-card>
    <app-header></app-header>
</mat-card>

<div class="gris">
    <div fxLayout="row" fxLayout.lt-md="column" style="padding: 24px;">
        <mat-card fxFlex="25" style="height: 80vh;">
            <mat-list>
                <mat-list-item>
                    <button mat-button class="option active" id="cuenta" routerLink="/perfil">Mi cuenta</button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-button class="option" id="direccion" routerLink="/direcciones">Libreta de direcciones</button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-button class="option" id="kms" routerLink="/kms-lleva">KMS Lleva</button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-button class="option" id="recomienda" routerLink="/recomienda">Recomienda y gana</button>
                </mat-list-item>
                <!-- <mat-divider></mat-divider> -->
            </mat-list>
        </mat-card>

        <mat-card fxFlex="75" style="margin-left: 15px;" class="card-content">
            <div class="form-cuenta" id="form-cuenta">
                <div class="foto-perfil">
                    <img src="assets/perfil/photo.png">
                    <br>
                    <br>
                    <button (click)="cambiarClave()" class="btn-cambiar">
                            <img src="assets/perfil/change.png">
                        </button>
                </div>

                <div class="form-datos">
                    <div class="inputs">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre completo</mat-label>
                            <input matInput placeholder="Nombre completo" required>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Ciudad</mat-label>
                            <mat-select>
                                <mat-option>
                                    Barranquilla
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="inputs">
                        <mat-form-field appearance="outline" style="width: 20%;">
                            <mat-label>Tipo Doc</mat-label>
                            <mat-select matNativeControl required>
                                <mat-option value="CC">CC</mat-option>
                                <mat-option value="CE">CE</mat-option>
                                <mat-option value="PA">PA</mat-option>
                                <mat-option value="RC">RC</mat-option>
                                <mat-option value="TI">TI</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" style="width: 26.5%;">
                            <mat-label>Número de documento</mat-label>
                            <input matInput type="number" placeholder="000000" required>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Correo electronico</mat-label>
                            <input matInput type="email" placeholder="nombre@email.com" required>
                        </mat-form-field>
                    </div>

                    <div class="inputs">
                        <mat-form-field appearance="outline">
                            <mat-label>Celular</mat-label>
                            <input matInput type="email" placeholder="nombre@email.com" required>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Codigo Insertado</mat-label>
                            <input matInput type="email" placeholder="nombre@email.com" required>
                        </mat-form-field>
                    </div>

                    <div class="inputs">
                        <button (click)="actualizar()">
                            <img src="../../../assets/perfil/update.png">
                        </button>

                        <button (click)="convertirEmpresa()">
                            <img src="../../../assets/perfil/convertir.png">
                        </button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<mat-card style="background: #eee; padding: 15px 35px;">
    <app-footer></app-footer>
</mat-card>