<div fxFlex="100" fxFlex.lt-md style="text-align: center;">
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutGap="20px">
            <div fxLayout="row wrap" style="width: 100% !important;">
                <div style="padding: 10px;" fxFlex="100" fxFlex.lt-md>
                    <img src="assets/perfil/actualizadook.png" style="width: 11%;">

                    <img src="assets/perfil/datosactualizado.png" style="width: 50%;margin: 7px;">

                    <button (click)="aceptar()">
                        <img src="assets/perfil/actualizado.png" style="width: 100%;margin-top: 10px;">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>