<div class="background">
    <div style="padding-top: 13%;padding-bottom: 3% " fxLayout="row" fxLayoutAlign="center center">
        <img src="../../../assets/login/lleva.png" height="0.7%" width="12%">
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">


        <div fxLayout="column wrap" fxLayoutAlign="center center" style="width: 20% !important;">

            <div class="titles" style="padding: 10px;" fxFlex="100" fxFlex.lt-md>
                <h1 class="titles">Valida tu número celular</h1>
            </div>
            <div class="centrar" style="padding: 10px;" fxFlex="100" fxFlex.lt-md>
                <h5>A continuación escribe tu número celular y te enviaremos un mensaje de texto. </h5>
            </div>

            <div fxFlex="100" fxFlex.lt-md>
                <mat-form-field appearance="outline">
                    <mat-label>Número celular</mat-label>
                    <input [(ngModel)]="phone" matInput #postalCode placeholder="(300) 000-0000" required maxlength="10" minlength="10">
                    <mat-hint align="end"> {{postalCode.value.length}} / 10 </mat-hint>

                </mat-form-field>
            </div>




            <div class="padd contenedor" fxFlex="50" fxFlex.lt-md>
                <img src="../../../assets/password/rectangulo.png" (click)="enviarCodigo()">
                <div class="centrado" (click)="enviarCodigo()">Enviar SMS</div>

            </div>
        </div>



    </div>
    <mat-card style="background: #eee; padding: 15px 35px;">
        <app-footer></app-footer>
    </mat-card>
</div>