<div class="background">
    <div class="register-aliado">
        <div class="logo-aliado">
            <img src="../../../assets/login/lleva.png">
        </div>

        <div class="title-aliado">
            <h1>Bienvenido al registro de <b>Aliados Lleva</b></h1>
        </div>

        <div class="items-aliados">
            <p style="text-align: center; color: #707070">Lleva es una plataforma digital que te brindará la posibilidad de aumentar tus ingresos. Obtener una cuenta es completamente gratis, sólo deberás asegurarte de cumplir con todos los requisitos:</p>
            <mat-list role="list">
                <mat-list-item role="listitem"><span><label>✓</label></span>Ser mayor de 18 años</mat-list-item>
                <mat-list-item role="listitem"><span><label>✓</label></span>Contar con vehículo</mat-list-item>
                <mat-list-item role="listitem"><span><label>✓</label></span>Tener buenas aptitudes para conducir en todo tipo de carreteras y en toda clase de condiciones climáticas</mat-list-item>
                <mat-list-item role="listitem"><span><label>✓</label></span>No contar con asuntos pendientes con las autoridades judiciales</mat-list-item>
                <mat-list-item role="listitem"><span><label>✓</label></span>Ser formal en el trato hacia los demás y digno de confianza</mat-list-item>
                <mat-list-item role="listitem"><span><label>✓</label></span>Ser capaz de llevar a cabo reparaciones sencillas en su propio vehículo</mat-list-item>
                <mat-list-item role="listitem"><span><label>✓</label></span>Conocer las calles, direcciones y zonas de la ciudad en que laborará</mat-list-item>
                <mat-list-item role="listitem"><span><label>✓</label></span>Capaz de mantener información confidencial</mat-list-item>
                <mat-list-item role="listitem"><span><label>✓</label></span>Capaz de seguir instrucciones</mat-list-item>
                <mat-list-item role="listitem"><span><label>✓</label></span>Capaz de trabajar con vencimientos</mat-list-item>
                <mat-list-item role="listitem"><span><label>✓</label></span>Capaz de trabajar sin supervisión</mat-list-item>
                <mat-list-item role="listitem"><span><label>✓</label></span>Habilidades comunicativas y sociales</mat-list-item>
                <mat-list-item role="listitem"><span><label>✓</label></span>Permiso de conducir vigente y completo (si aplica)</mat-list-item>
                <mat-list-item role="listitem"><span><label>✓</label></span>Documentos del vehículo al día (si aplica)</mat-list-item>

            </mat-list>
            <p class="title2">Documentos que debes tener a la mano a la hora de registrarte en Lleva: </p>
            <mat-list role="list">
                <mat-list-item role="listitem"><span><label>✓</label></span>Copia de cédula de ciudadanía por ambas caras</mat-list-item>
                <mat-list-item role="listitem"><span><label>✓</label></span>Acreditar documentos de permanencia (si aplica)</mat-list-item>
                <mat-list-item role="listitem"><span><label>✓</label></span>Copia de licencia de conducción (si aplica)</mat-list-item>
                <mat-list-item role="listitem"><span><label>✓</label></span>Copia de tarjeta de propiedad (si aplica)</mat-list-item>
                <mat-list-item role="listitem"><span><label>✓</label></span>Copia de SOAT vigente (si aplica)</mat-list-item>
                <mat-list-item role="listitem"><span><label>✓</label></span>Fotografía reciente del aliado</mat-list-item>
                <mat-list-item role="listitem"><span><label>✓</label></span>Fotografía del vehículo donde se evidencie la placa (si aplica)</mat-list-item>

            </mat-list>
        </div>

        <div>
            <img src="../../../assets/aliado/continuar.png" routerLink="/registro" style="width: 100%;">
        </div>
    </div>

    <mat-card style=" padding-top: 45px">
        <app-footer></app-footer>
    </mat-card>
</div>