.title {
  color: #d5c9f5;
  text-align: center;
}

.description{
  color: #6f6f6f;
  max-width: 350px;
  text-align: center;
}
.background{
  background: url("../../../assets/login/background.png") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.persona{
  background-image: url('../../../assets/login/persona.png');
  background-repeat: no-repeat;
  padding: 10px 9px 7px 70px;
}
.empresa{
  background-image: url('../../../assets/login/empresa.png');
  background-repeat: no-repeat;
  padding: 10px 9px 7px 70px;
}
.centrar{
  text-align: center;
}
.titles{
  color:#2F8457;
text-align: center;
}
.padd{
  padding-top: 10px;
  padding-bottom: 10px;
}
.gray-div{
  background-color: #f2f2f2;
}
::placeholder {
  opacity: 1; /* Firefox */
  text-align: center;
}
.text-decoration-p {
  color: #00aeee;
}
.footer-p {
  object-fit: contain;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: center;
}
.btn-login {
  border: 2px solid #7e5ae1;
  color: white;
  background-color: white;
  object-fit: contain;
  border-radius: 3px;
  background-color: #7e5ae1;
  border-radius: 3px;
  font-size: 20px;
}

mat-form-field{
  width: 100%;
}
.centrado{
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  color: white;
}
.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}
