<div class="background">
    <div class="form-registro">
        <div class="logo-registro">
            <img src="../../../assets/login/lleva.png">
        </div>

        <div class="title-registro">
            <p>
                Completa los siguientes campos para completar tu registro en Lleva:
            </p>
        </div>

        <div class="form-container">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Ciudad donde quiere funcionar</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let city of foods" [value]="city.value">
                                {{city.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Nacionalidad</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let nacional of nacionalidad" [value]="nacional.value">
                                {{nacional.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre completo</mat-label>
                        <input matInput placeholder="Nombre completo" required>
                    </mat-form-field>
                </div>

                <div class="col-md-3 documento">
                    <div class="tipo-doc">
                        <mat-form-field appearance="outline">
                            <mat-label>Tipo Doc</mat-label>
                            <select matNativeControl required>
                                    <option value="CC">CC</option>
                                    <option value="CE">CE</option>
                                    <option value="PA">PA</option>
                                    <option value="RC">RC</option>
                                    <option value="TI">TI</option>
                                </select>
                        </mat-form-field>
                    </div>
                    <div class="number-doc">
                        <mat-form-field appearance="outline">
                            <mat-label>Número de documento</mat-label>
                            <input matInput type="number" placeholder="000000" required>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Fecha de nacimiento</mat-label>
                        <input matInput placeholder="Nombre completo" required>
                    </mat-form-field>
                </div>

                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Numero de telefono</mat-label>
                        <input type="number" matInput placeholder="+57" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Correo electronico</mat-label>
                        <input matInput type="email" placeholder="nombre@email.com" required>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Confirmar correo electronico</mat-label>
                        <input matInput type="email" placeholder="nombre@email.com" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Tipo de vehiculo</mat-label>
                        <input matInput placeholder="Nombre completo" required>
                    </mat-form-field>
                </div>

                <div class="col-md-3">
                    <p>Al iniciar sesión aseguras haber leído y estar de acuerdo con los Términos y condiciones y con la Política de Privacidad.</p>
                    <img src="../../../assets/register/enviar-formulario.png" routerLink="/registro-photos">
                </div>
            </div>
        </div>
    </div>
    <mat-card style=" padding-top: 45px">
        <app-footer></app-footer>
    </mat-card>
</div>