.background {
    background: url("../../../../assets/login/background.png") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    position: absolute;
}

.form-registro {
    width: 50%;
    margin: auto;
}

.logo-registro {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 15px;
}

.logo-registro img {
    width: 120px;
}

.title-registro {
    text-align: center;
    color: #2F8457;
}

.row {
    display: flex;
}

.col-md-3 {
    width: 50%;
    margin: 0 5px;
}

.documento {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.tipo-doc {
    width: 30%;
    margin-right: 5px;
}

.number-doc {
    width: 68%;
}

mat-form-field {
    width: 100%;
}

.col-md-3 p {
    line-height: 10px;
    font-size: 11px;
}

.col-md-3 img {
    width: 100%;
}

@media (max-width: 1100px) {
    .form-registro {
        width: 60%;
    }
}

@media (max-width: 800px) {
    .form-registro {
        width: 80%;
    }
}

@media (max-width: 650px) {
    .form-registro {
        width: 96%;
    }
}

@media (max-width: 500px) {
    .row {
        display: block;
    }
    .col-md-3 {
        width: 100%;
        margin: 0 !important;
    }
}