<mat-card>
    <app-header></app-header>
</mat-card>

<div class="gris">
    <div fxLayout="row" fxLayout.lt-md="column" style="padding: 24px;">
        <mat-card fxFlex="25" style="height: 80vh;">
            <mat-list>
                <mat-list-item>
                    <button mat-button routerLink="/billetera">Billetera Lleva</button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-button class="active" routerLink="/historial">Historial de servicios</button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-button routerLink="/servicio-cliente">Servicio al cliente</button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <button mat-button routerLink="/email-certificado">Email certificado</button>
                </mat-list-item>
                <!-- <mat-divider></mat-divider> -->
            </mat-list>
        </mat-card>

        <mat-card fxFlex="75" style="margin-left: 15px;" class="card-content">

            <div class="form-historial" id="form-historial">
                <div class="head-historial">
                    <h3>Historial de servicios</h3>
                </div>

                <div class="filtros">
                    <label style="line-height: 50px;">Filtrar</label>

                    <mat-form-field appearance="outline">
                        <mat-label>Filtrar por tipo de servicio</mat-label>
                        <mat-select>
                            <mat-option>
                                Diligencia
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input matInput [matDatepicker]="picker" placeholder="Rango de fecha">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input matInput placeholder="N° de Orden">
                    </mat-form-field>
                </div>
                <hr>
                <div class="resultados">
                    <label>Resulatados de la búsqueda</label>
                    <button>
                        <img src="../../../../assets/billetera/descargar.png" alt="">
                        <span>Descargar en CVS</span>
                    </button>
                    <button>
                        <img src="../../../../assets/billetera/eliminar.png" alt="">
                        <span>Eliminar</span>
                    </button>
                </div>
                <hr>
                <div class="table-historial">
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>

                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <!-- fecha Column -->
                            <ng-container matColumnDef="fecha">
                                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                                <td mat-cell *matCellDef="let element"> <a href="">{{element.fecha}}</a> </td>
                            </ng-container>

                            <!-- tipo Column -->
                            <ng-container matColumnDef="tipo">
                                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                                <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                            </ng-container>

                            <!-- referencia Column -->
                            <ng-container matColumnDef="referencia">
                                <th mat-header-cell *matHeaderCellDef> Referencia</th>
                                <td mat-cell *matCellDef="let element"> {{element.referencia}} </td>
                            </ng-container>

                            <!-- valor Column -->
                            <ng-container matColumnDef="valor">
                                <th mat-header-cell *matHeaderCellDef> Valor </th>
                                <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
                            </ng-container>

                            <!-- kms Column -->
                            <ng-container matColumnDef="kms">
                                <th mat-header-cell *matHeaderCellDef> Kms Lleva </th>
                                <td mat-cell *matCellDef="let element"> {{element.kms}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </div>

        </mat-card>
    </div>
</div>

<mat-card style="background: #eee; padding: 15px 35px;">
    <app-footer></app-footer>
</mat-card>