<div class="background">
    <div class="login">
        <div class="head-login">
            <img src="../../../assets/login/lleva.png">
        </div>

        <div class="botones">
            <button mat-button class="option active" id="login" (click)="option('login')">Iniciar Sesión</button>
            <button mat-button class="option" id="register" (click)="option('register')">Registrarse</button>
        </div>

        <div class="content-login">

            <div class="form login-login" id="form-login">
                <h2>Iniciar Sesión</h2>

                <mat-form-field appearance="outline">
                    <mat-label>Correo Electrónico</mat-label>
                    <input [(ngModel)]="user_name" matInput type="text" placeholder="Correo" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <a routerLink="/password">Olvidé mi contraseña</a>

                <img src="../../../assets/login/rojo.png" href="www.google.com" width="100%">

                <img src="../../../assets/login/verde.png" (click)="login()" width="100%">
            </div>

            <div class="form register-login" id="form-register">
                <h2>Aún no tengo cuenta</h2>

                <p>Escoge como deseas crear tu cuenta.</p>

                <mat-button-toggle (click)="registroPersona()">
                    <img src="../../../assets/login/persona.png" alt="">
                    <label>Registro de persona</label>
                </mat-button-toggle>

                <mat-button-toggle (click)="registroEmpresa()">
                    <img src="../../../assets/login/empresa.png" alt="">
                    <label>Registro de empresa</label>
                </mat-button-toggle>
                <a routerLink="/phone">
                    <img src="../../../assets/login/gris.png" width="100%">
                </a>

                <a href="www.google.com">
                    <img src="../../../assets/login/negro.png" href="www.google.com" width="100%">
                </a>
            </div>
        </div>
    </div>

    <mat-card style=" padding: 15px 35px;">
        <app-footer></app-footer>
    </mat-card>
</div>