.background {
    background: url("../../../assets/login/background.png") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.active {
    color: rgb(47, 132, 87);
    background: #eee;
}

button.btn:active {
    color: rgb(47, 132, 87);
}

button {
    cursor: pointer;
    background: transparent;
    border: 0;
}

.login {
    width: 60%;
    margin: 10em auto;
}

.botones {
    width: 250px;
    margin: 20px auto;
    display: none;
}

.botones button {
    width: 50%;
}

.head-login {
    width: 100%;
    display: block;
    text-align: center;
}

.content-login {
    display: flex;
    margin: 40px auto;
}

.login-login,
.register-login {
    width: 50%;
    padding: 50px;
    overflow: hidden;
}

.register-login {
    border-left: 2px solid #aaa;
}

.login-login mat-form-field,
.register-login mat-form-field {
    display: block;
    width: 100%;
}

.login-login h2,
.register-login h2 {
    color: rgb(47, 132, 87);
    font-size: 23px;
    font-weight: 200;
}

.login-login a {
    color: rgb(47, 132, 87);
    display: block;
    margin-bottom: 20px;
}

mat-button-toggle {
    width: 100%;
    margin: 10px auto;
    display: block;
    height: 85px;
}

mat-button-toggle img {
    position: absolute;
    left: 0px;
    padding: 10px 0px;
}

mat-button-toggle label {
    padding: 10px 0px;
    padding-top: 10px;
    margin-left: 80px;
    padding-top: 43px;
}

@media (max-width: 1200px) {
    .login {
        width: 80%;
        margin: 10em auto;
    }
    .login-login,
    .register-login {
        display: block;
    }
}

@media (max-width: 1000px) {
    .login {
        width: 90%;
        margin: 10em auto;
    }
    .login-login,
    .register-login {
        display: block;
    }
}

@media (max-width: 900px) {
    .login {
        width: 100%;
        margin: 10em auto;
    }
    .login-login,
    .register-login {
        display: block;
    }
}

@media (max-width: 750px) {
    .botones {
        display: block;
    }
    .register-login {
        display: none;
    }
    .login {
        display: block;
    }
    .content-login {
        margin: 0 !important;
    }
    .login-login,
    .register-login {
        width: 60%;
        margin: auto;
        padding: 10px;
        border: 0 !important;
    }
}