<div class="title">
    <h2>Importar desde archivo CSV</h2>
</div>

<div class="content">
    <p>
        Descarga aquí <a href="">archivo de ejenplo</a> desde donde podrás importar varias direcciones junto a la descripción. Toda la información de las direcciones actuales será borrada y remplazada por la del archivo. Recuerda que el limite direcciones
        es de 200.
    </p>
</div>

<div class="input">
    <label for="files">
        <span><img src="../../../../assets/home/cargarcvs.png" alt="">Cargar</span>
    </label>
    <input type="file" id="files" style="display: none;" accept=".csv">

    <p>Tipos de archivos aceptados: CSV únicamente</p>
</div>

<div class="botones">
    <img src="../../../../assets/home/btn-cargar.png" alt="">
    <a href="">Regresar</a>
</div>